In [197]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import seaborn as sns
import warnings
warnings.simplefilter('ignore')
%config InlineBackend.figure_format = 'retina'

Имеются данные adult.csv (см. в материалах к занятию)

Целевой переменной является уровень дохода income (крайний правый столбец).

Описание признаков можно найти по ссылке http://www.cs.toronto.edu/~delve/data/adult/adultDetail.html

Вам необходимо построить модель логистической регрессии, которая предсказывает уровень дохода человека. При возможности попробуйте улучшить точность предсказаний (метод score) с помощью перебора признаков.

In [198]:
data = pd.read_csv('adult.csv')

In [199]:
data.head(1)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K

In [200]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
age                48842 non-null int64
workclass          48842 non-null object
fnlwgt             48842 non-null int64
education          48842 non-null object
educational-num    48842 non-null int64
marital-status     48842 non-null object
occupation         48842 non-null object
relationship       48842 non-null object
race               48842 non-null object
gender             48842 non-null object
capital-gain       48842 non-null int64
capital-loss       48842 non-null int64
hours-per-week     48842 non-null int64
native-country     48842 non-null object
income             48842 non-null object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

пропущенных значений нет, посмотрим на каждый категориальный признак

In [201]:
data['workclass'].value_counts()

Private             33906
Self-emp-not-inc     3862
Local-gov            3136
?                    2799
State-gov            1981
Self-emp-inc         1695
Federal-gov          1432
Without-pay            21
Never-worked           10
Name: workclass, dtype: int64

проверим встречается ли "?" еще

In [202]:
col_with = [i for i in data.columns if '?' in data[i].value_counts()]
col_with

['workclass', 'occupation', 'native-country']

In [203]:
for cols in col_with:
    data.loc[data[cols]=='?',cols] = cols + '_unknown'

посмотрим на распределение целевой переменной

In [204]:
data['income'].value_counts(normalize=True) * 100

<=50K    76.071823
>50K     23.928177
Name: income, dtype: float64

Переведем gender and income к бинароному виду

In [205]:
dic_gender = {'Male': 1, 'Female': 0}
dic_income = {'>50K': 1, '<=50K': 0}

In [206]:
data['income'] = data['income'].map(dic_income)
data['gender'] = data['gender'].map(dic_gender)

In [207]:
data.head(1)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,1,0,0,40,United-States,0

удалим fnlwgt, educational-num

In [208]:
data.drop(columns=['fnlwgt','educational-num'],axis = 1,inplace = True)

In [209]:
data.head(1)

,age,workclass,education,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,11th,Never-married,Machine-op-inspct,Own-child,Black,1,0,0,40,United-States,0

применим к категориальным признакам OHE

In [210]:
X = data.drop(columns=['income'])
y = data['income']

In [211]:
category = []
for i in data.columns:
    if data[i].dtype == 'O':
        category.append(i)

In [212]:
category

['workclass',
 'education',
 'marital-status',
 'occupation',
 'relationship',
 'race',
 'native-country']

In [213]:
X = pd.get_dummies(X, category)

In [216]:
X.shape,y.shape

((48842, 105), (48842,))

посмотрим статистки, видно, что std capital-gain выделяется , сделаем standard_scaler

In [217]:
X.describe()

,age,gender,capital-gain,capital-loss,hours-per-week,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,workclass_Private,workclass_Self-emp-inc,...,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia,native-country_native-country_unknown
count,48842.000000,48842.000000,48842.000000,48842.000000,48842.000000,48842.000000,48842.000000,48842.000000,48842.000000,48842.000000,...,48842.000000,48842.000000,48842.000000,48842.000000,48842.000000,48842.000000,48842.000000,48842.000000,48842.000000,48842.000000
mean,38.643585,0.668482,1079.067626,87.502314,40.422382,0.029319,0.064207,0.000205,0.694198,0.034704,...,0.003767,0.000430,0.002355,0.001331,0.000614,0.000553,0.897424,0.001761,0.000471,0.017546
std,13.710510,0.470764,7452.019058,403.004552,12.391444,0.168701,0.245124,0.014307,0.460751,0.183030,...,0.061263,0.020731,0.048467,0.036457,0.024776,0.023506,0.303407,0.041925,0.021695,0.131297
min,17.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,28.000000,0.000000,0.000000,0.000000,40.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
50%,37.000000,1.000000,0.000000,0.000000,40.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
75%,48.000000,1.000000,0.000000,0.000000,45.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
max,90.000000,1.000000,99999.000000,4356.000000,99.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [218]:
from sklearn.preprocessing import StandardScaler

In [220]:
scaler = StandardScaler()
X_scaled = pd.DataFrame(scaler.fit_transform(X), columns=X.columns)

In [222]:
X_scaled.head(1)

,age,gender,capital-gain,capital-loss,hours-per-week,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,workclass_Private,workclass_Self-emp-inc,...,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia,native-country_native-country_unknown
0,-0.995129,0.70422,-0.144804,-0.217127,-0.034087,-0.173795,-0.26194,-0.01431,0.663711,-0.189609,...,-0.061494,-0.02074,-0.048581,-0.036505,-0.024791,-0.023518,0.338083,-0.041999,-0.021705,-0.13364

In [231]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score, roc_curve

In [225]:
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2)

In [224]:
logreg = LogisticRegression()

In [226]:
logreg.fit(X_train,y_train,)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [235]:
y_pred_logreg_test = logreg.predict_proba(X_test)[:, 1]
y_pred_logreg_train = logreg.predict_proba(X_train)[:, 1]
roc_auc_test = np.round(roc_auc_score(y_test, y_pred_logreg_test),2)
roc_auc_train = np.round(roc_auc_score(y_train, y_pred_logreg_train),2)

print("Train: ", roc_auc_train)
print("Test: ", roc_auc_test)

Train:  0.91
Test:  0.9

In [236]:
# сделаем кросс-валидацию
from sklearn.model_selection import cross_val_score
x = X_train.copy()
y = y_train.copy()
scores = cross_val_score(logreg,x,y,cv=5)

In [238]:
scores, scores.mean() # разброса сильного нет, качество нашей модели не сильно зависит от того , как разбивать модель

(array([0.85273797, 0.85873321, 0.85167648, 0.84553366, 0.85078065]),
 0.851892392906267)

In [240]:
logreg.score(X_test,y_test)

0.8497287337496161

поробуем подобрать оптимальные параметры

In [247]:
from sklearn.model_selection import GridSearchCV

In [249]:
params = {
     'C':[0.01, 0.1, 1, 5, 50],
     'solver':['newton-cg', 'lbfgs', 'liblinear', 'sag', 'saga'],
     'max_iter':[10, 50, 100]
 }

gridsearch = GridSearchCV(estimator=logreg, param_grid = params, scoring='roc_auc', n_jobs=-1, cv=5)

In [250]:
gridsearch.fit(X_train,y_train)

GridSearchCV(cv=5, error_score='raise-deprecating',
       estimator=LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False),
       fit_params=None, iid='warn', n_jobs=-1,
       param_grid={'C': [0.01, 0.1, 1, 5, 50], 'solver': ['newton-cg', 'lbfgs', 'liblinear', 'sag', 'saga'], 'max_iter': [10, 50, 100]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='roc_auc', verbose=0)

In [251]:
gridsearch.best_params_

{'C': 0.1, 'max_iter': 10, 'solver': 'liblinear'}

In [254]:
logreg_grid = LogisticRegression(C=0.1,max_iter=10,solver='liblinear')

In [255]:
logreg_grid.fit(X_train,y_train)

LogisticRegression(C=0.1, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=10, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='liblinear',
          tol=0.0001, verbose=0, warm_start=False)

In [258]:
y_pred_logreg_grid_test = logreg_grid.predict_proba(X_test)[:, 1]
y_pred_logreg_grid_train = logreg_grid.predict_proba(X_train)[:, 1]
roc_auc_test = np.round(roc_auc_score(y_test, y_pred_logreg_grid_test),4)
roc_auc_train = np.round(roc_auc_score(y_train, y_pred_logreg_grid_train),4)

print("Train: ", roc_auc_train)
print("Test: ", roc_auc_test)

Train:  0.9084
Test:  0.9043

In [259]:
logreg_grid.score(X_test,y_test)

0.8497287337496161